<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
    <div style="background:url(/Public/images/bg.png);height: 100%;">
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
       
       <!-- <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script> -->
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
var dres = [],gres = [];


 var geoCoordMap = [
     <volist name="trapdata" id="v" empty="">                
        {name:"{$v['trapno']}",value:["{$v.coordx}","{$v.coordy}"]},
            </volist>]
 

var convertData = function (data) {
    var res = [];
    for (var i = 0; i < data.length; i++) {
        var geoCoord = geoCoordMap[data[i].name];
        if (geoCoord) {
            res.push({
                name: data[i].name,
                value: geoCoord.concat(data[i].value)
            });
        }
    }
    return res;
    
};

option = {
    backgroundColor:'rgba(255, 255, 255, 0)',

    title: {
        text: '区域温度',
        subtext: 'data from sql',

        x:'center',
        textStyle: {
            color: 'black'
        }
    },

    tooltip: {
        trigger: 'item',
        formatter: function (params) {
            return params.name + ' : ' + params.value[2];
        }
    },
    legend: {
        orient: 'vertical',
        top: 'bottom',
        left: 'right',
        data:['temperature'],
        textStyle: {
            color: 'black'
        }
    },
    visualMap: {
        min: 0,
        max: 80,
        calculable: true,
        inRange: {
            color: ['#50a3ba', '#eac736', '#d94e5d']
        },
        textStyle: {
            color: '#fff'
        }
    },
    geo: {
        map: 'china',
        itemStyle: {
            areaColor: 'rgba(255, 255, 255, 0)',
            borderColor: 'rgba(255, 255, 255, 0)'
        },
        emphasis: {
            itemStyle: {
                areaColor: 'rgba(255, 255, 255, 0)'
            },
            label: {
                show: false
            }
        }
    },
    series: [
        {
            name: 'temperature',
            type: 'scatter',
            coordinateSystem: 'geo',
            data: [
            <volist name="trapdata" id="v" empty="">                
                {name:"{$v['trapno']}",value:["{$v.coordxx}","{$v.coordyy}","{$v.temstatus}"]},
            </volist>
                
                
            ],
          
           
            symbolSize:  function (val) {
                return val[2] / 2;
            },
            emphasis: {
                itemStyle: {
                    borderColor: '#fff',
                    borderWidth: 1
                }
            }
        }
    ]
};
                
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>
  </div>
</body>
</html>
